<% if(cookie.user_id){ %>
<div class="accordion" id="accordionLists">
    <% userLists.forEach(function(list, index) { %>
        <div class="card">
            <div class="card-header" id="heading<%= index %>">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
                        <%= list.name %>
                    </button>
                </h5>
            </div>
            <div id="collapse<%= index %>" class="collapse" aria-labelledby="heading<%= index %>" data-parent="#accordionLists">
                <div class="card-body">
                    <ol>
                        <% itemList.forEach(function(item){ %>
                            <% if(item.list_id == list.list_id){ %>
                            <li> <a class="listItem"> <%= item.name %> </a> </li>
                            <div class="header-order deleteButton" id="deleteButton<%= item.item_id %>" data-target="#exampleModal" data-item_id="<%= item.item_id %>">
                            <a style="pointer-events:none" id="deleteButton<%= item.item_id %>">Done</a>
                            <div class="hover"></div>
                            </div>
                            <div class="header-order editButton" id="editButton<%= item.item_id %>" data-target="#exampleModal" data-item_id="<%= item.item_id %>">
                            <a style="pointer-events:none" id="editButton<%= item.item_id %>">Edit</a>
                            <div class="hover"></div>
                            </div>
                        <% }}) %>
                    </ol>
                </div>
            </div>
        </div>
        <% }) %>

</div>
<% } %>
